<html lang="en">

  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900"
      rel="stylesheet"
    />
    <style type="text/css">
      * { padding: 0; margin: 0; box-sizing: border-box; } body { margin: 0
      auto; width: 650px; font-family: "Open Sans", sans-serif;
      background-color: transparent; display: block; } ul { margin: 0; padding:
      0; } li { display: inline-block; text-decoration: unset; } a {
      text-decoration: none; } p { margin: 15px 0; } h5 { color: #444;
      text-align: left; font-weight: 400; } .text-center { text-align: center;
      margin: auto; } .main-bg-light { background-color: #fafafa; }
      .logo-content { margin-bottom: 30px; display: flex; align-items: center; }
      .logo { margin-right: 10px; width: 60px; height: 60px; } .confirm .code {
      margin-top: 5px; border: none; text-align: center; background-color:
      #789ebd; color: white; padding: 0px 10px; margin-left: 60px; margin-right:
      60px; letter-spacing: 4px; } .social-image { width: 30px; height: 30px;
      margin-left: 5px; margin-right: 5px; } .footer-social-icon { display:
      flex; text-align: center; align-items: center; justify-content: center;
      align-content: center; margin: auto; } .contact .contact-link {
      margin-top: 15px; background-color: #dc4826; border: none; height: 20px;
      width: 100px; color: #fff; } .social-logo { padding-left: 8px;
      padding-right: 8px; }
    </style>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        padding: 0 30px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);
        box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);
        width: 100%;
      "
    >
      <tbody style="font-family: 'Rajdhani', sans-serif; font-size: 1.1rem">
        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <div class="logo-content">
                    <a href="{{domain}}">
                      <img
                        class="logo"
                        width="60"
                        height="60"
                        src="https://prakashpun22.pythonanywhere.com/media/social/logo.jpg"
                        alt="Logo"
                      />
                    </a>
                    <h3>Hello Hello</h3>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h3>Confirm your email address</h3>
                  <p>
                    Your confirmation code is below - enter it in your open
                    browser window and we'll help you get signed in.
                  </p>
                  <div class="confirm">
                    <h3 class="code" style="padding: 10px">
                      {{code}}
                    </h3>
                  </div>
                  <p>
                    If you didn't request this email, there's nothing to worry
                    about - your can safely ignore it
                  </p>
                </td>
              </tr>
            </table>
            <table
              class="main-bg-light text-center top-0"
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              style="margin-top: 10px; text-align: center;"
            >
              <tr>
                <td style="padding: 10px; text-align:center">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="footer-social-icon"
                    align="center"
                    class="text-center"
                    style="margin-top: 20px; text-align: center;"
                  >
                    <tr style="text-align: center;">
                      <td class="social-logo">
                        <a href="#">
                          <img
                            class="social-image"
                            width="30"
                            height="30"
                            src="https://prakashpun22.pythonanywhere.com/media/social/facebook.png"
                            alt=""
                          />
                        </a>
                      </td>
                      <td class="social-logo">
                        <a href="#">
                          <img
                            class="social-image"
                            width="30"
                            height="30"
                            src="https://prakashpun22.pythonanywhere.com/media/social/github.png"
                            alt=""
                          />
                        </a>
                      </td>
                      <td class="social-logo">
                        <a href="#">
                          <img
                            class="social-image"
                            width="30"
                            height="30"
                            src="https://prakashpun22.pythonanywhere.com/media/social/linkelin.png"
                            alt=""
                          />
                        </a>
                      </td>
                      <td class="social-logo">
                        <a href="#">
                          <img
                            class="social-image"
                            width="30"
                            height="30"
                            src="https://prakashpun22.pythonanywhere.com/media/social/instagram.png"
                            alt=""
                          />
                        </a>
                      </td>
                    </tr>
                  </table>
                  <div
                    style="border-top: 1px solid #ddd; margin: 20px auto 0"
                  ></div>
                  <br />
                  <h4>Made By PRP, LLC</h4>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>